html{
    scroll-behavior: smooth;
}
header{
    background: #60b0f4 ;
    display: flex;
    align-items: right;
    justify-content: right;
    flex-direction: column;
    }
footer{
    background-color: #60b0f4;
    color:black;
    padding: 15px;
    text-align: center;
  }
ul {
    background-color: #60b0f4;
}
li a {
    display: block;
    color: black;
    text-align: right;
    padding: 12px 12px;
    font-size: 30px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li:last-child{
    border: 5px solid white;
    border-radius: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}
li a:hover {
    border-color: rgba(96,176,244,.5);
}
#my_logo{
    min-height: 130px;
    min-width: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
    align-self: center;
    animation: fadein 4s 1;
}
h1{
    color:black;
    background-color: white;
    text-align: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 5px #60b0f4;
}
img{
    width: 400px;
}
main{
    background-color: white;
    background-image: url("../images/tokyo_background.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
a.maincontent{
    left:-999px;
    position:absolute;
    overflow:hidden;
    z-index:-900;
}
a.maincontent:focus{
    background:rgba(96,176,244,.5);;
    color:white;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    margin: 15px;
    padding:5px;
    z-index:900;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-bottom: 0px;
}
.container img {
    border: 10px solid #60b0f4;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    animation: spin 5s 1;
    filter: contrast(130%) brightness(105%)
  }
@keyframes spin{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes fadein{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media screen and (prefers-reduced-motion: reduce) {
    .container img {
      animation: none;
    }
  }
@media screen and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
      li:last-child{
        border: 0px;
  }
  #my_logo{
      margin-top: 35px;
      margin-bottom: 20px;
      position: absolute;
      left: 0;
      top: 0;
  }
  .container img{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 600px;
  }
}
@media screen and (min-device-width: 1025px) and (max-device-width: 1600px) { 
    li:last-child{
        border: 0px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:#60b0f4;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        opacity: .5;
      }
      .container img{
        width: 50%;
      }
}