header{
    background: #60b0f4 ;
    display: flex;
    align-items: right;
    justify-content: right;
    flex-direction: column;
    }
footer{
    background-color: #60b0f4;
    color:black;
    padding: 15px;
    text-align: center;
  }
ul {
    background-color: #60b0f4;
}
h1{
    color:black;
    background-color: white;
    text-align: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 5px #60b0f4;
}
li a {
    display: block;
    color: white;
    text-align: right;
    padding: 12px 12px;
    font-size: 30px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li:nth-child(2){
    border: 5px solid white;
    border-radius: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}
li a:hover {
    border-color: rgba(96,176,244,.5);
}
#my_logo{
    min-height: 130px;
    min-width: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
    align-self: center;
    animation: fadein 4s 1;
}
a.maincontent{
    left:-999px;
    position:absolute;
    overflow:hidden;
    z-index:-900;
}
a.maincontent:focus{
    background:rgba(96,176,244,.5);;
    color:white;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    margin: 15px;
    padding:5px;
    z-index:900;
}
.container{
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,400px);
    grid-gap:15px;
    grid-auto-rows: 400px;
    justify-items: center;
}
#resume{
    grid-column: 1/ span 1;
    grid-row: 1/ span 2;
    padding-top: 30px;
}
#python{
    width: 250px;
    height: 250px;
    grid-row: 4;
    margin-top: 50px;
}
#project{
    width: 400px;
    height: 400px;
    grid-row: 3;
}
#html_css{
    grid-row: 5;
    width: 400px;
    height: 400px;
}
#pandas{
    grid-row: 6;
    width: 400px;
    height: 150px;
    margin-top: 50px;
}
@keyframes fadein{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media screen and (prefers-reduced-motion: reduce) {
    .container img {
      animation: none;
    }
  }
@media screen and (min-device-width: 768px) 
    and (max-device-width: 1024px) {
    li:nth-child(2){
        border: 0px;
    }
    #my_logo{
        margin-top: 35px;
        margin-bottom: 20px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,400px);
    }
    #python{
        grid-row: 1;
        grid-column: 2;
    }
    #project{
        grid-row: 3;
        grid-column: 1;
    }
    #html_css{
        grid-row: 2;
        grid-column: 2;
    }
    #pandas{
        grid-row: 3;
        grid-column: 2;
    }
}
@media screen and (min-device-width: 1025px) and (max-device-width: 1600px) { 
    li:nth-child(2){
        border: 0px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:#60b0f4;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        opacity: .5;
      }
      .container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2,400px);
    }
    #python{
        width: 50%;
        height: 50%;
        grid-row: 1;
        grid-column: 2;
    }
    #project{
        grid-row: 1;
        grid-column: 3;
    }
    #html_css{
        width: 70%;
        height: 70%;
        grid-row: 2;
        grid-column: 2;
    }
    #pandas{
        width: 50%;
        grid-row: 2;
        grid-column: 3;
    }
}